registry=http://artifact.oocl.com/artifactory/api/npm/npm-repository-virtual-external
//artifact.oocl.com/artifactory/api/npm/npm-repository-virtual-external/:_authToken=${ARTIFACTORY_ACCESS_TOKEN}
email=${ARTIFACTORY_USER_ID}
always-auth=true